/*
    color: #12103D;
    color: #0C5D7B;
    color: #F20231;
    color: #EFBF7F;
    color: #F8E4CC*/
/* 
--------- Landing Page ---------
*/

*{
    margin: 0;
    padding: 0;
}

#header{
    position: absolute;
    z-index: 10;
    width: 100%;
}

#header .navbar{
    padding: 50px 0;
}

#header .navbar-brand{
    font-weight: 600;
    font-size: 1.5em;
    
}

#header .navbar-dark .navbar-brand{
    color: #F8E4CC!important;
}

#header .nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
}

#header .navbar-dark .navbar-nav .nav-item .nav-link:hover{
    background-color: #F8E4CC;
    color: #F20231;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    text-decoration: none;
}

a:active{
    color: white;
}

.main{
    
    padding: 220px 0 200px;
}

.main h2{
    margin: 0;
    padding: 0;
    font-size: 2.6em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.main p{
    margin-top: 1em;
    padding: 0;
    font-size: 1em;
    color: whitesmoke;

}

@keyframes animatedBackground {
    from {
      background-position: center center;
    }
    to {
      background-position: 100% 0;
    }
  }
  #animated-area {
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/car.jpg);
    background-position: center center;
    background-repeat: repeat-x;
    background-size: cover;
    animation: animatedBackground 10s linear infinite alternate

}

.border-danger{
    color: #F20231!important;
}

.bg-danger{
    background-color: #F20231!important;
}

.text-danger{
    color: #F20231!important;
}

.btn-danger{
    background-color: #F20231;
    border-radius: 5%;
}


.btn-danger-outline{
    border:#F20231!important;
    color: #F20231!important;
    border-radius: 5px;
}


.pricing{
    background-color:white;
}

.pricing .card-header{
    background-color:whitesmoke;
    color: #F20231;
}


#carousel h2{
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: relative;
    margin: 25px 0 50px;
}

#carousel h2::after{
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: #0C5D7B;
    left: 0;
    right: 0;
    bottom: -10px;
}

.carousel {
    width: 650px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.carousel .item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 340px;
}
.carousel .item a {
    color: #EFBF7F;
}
.carousel .img-box {
    width: 145px;
    height: 145px;
    margin: 0 auto;
    border-radius: 50%;
}
.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}
.carousel .testimonial {	
    padding: 30px 0 10px;
}
.carousel .overview {	
    text-align: center;
    padding-bottom: 5px;
}
.carousel .overview b {
    color: #333;
    font-size: 15px;
    text-transform: uppercase;
    display: block;	
    padding-bottom: 5px;
}
.carousel .star-rating i {
    font-size: 18px;
    color: #ffdc12;
}
.carousel .carousel-control {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #0C5D7B;
    text-shadow: none;
    top: 4px;
}
.carousel-control i {
    font-size: 20px;
    margin-right: 2px;
}
.carousel-control.left {
    left: auto;
    right: 40px;
}
.carousel-control.right i {
    margin-right: -2px;
}
.carousel .carousel-indicators {
    bottom: 15px;
    
}
.carousel-indicators li, .carousel-indicators li.active {
    width: 11px;
    height: 11px;
    margin: 1px 5px;
    border-radius: 50%;
}
.carousel-indicators li {	
    background: #0C5D7B;
    border-color: transparent;
    width: 8px;
    height: 0px;
    margin: 1px 3px;
    border-radius: 50%;
    
}
.carousel-indicators li.active {
    border: none;
    background: #12103D;		
}

.footer {
    
    padding: 30px;
    color: #cccccc;
    background-color: #12103D;
}


.footer .social {
    
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}


.footer input {
    
    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn {
    
    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
}

#offer .card{
    background-color: whitesmoke;
}

.footer .social{
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 0;
}
 
/*
   --------------Sign Up----------------
*/

#navlogin{
    z-index: 10;
    width: 100%;
}

#navlogin .navbar-brand{
    font-weight: 600;
    font-size: 1.5em;
    color: white; 
}

#navlogin .nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
    color: white;
}

#navlogin .bg-light{
    background-color: #12103D!important;
}

#navlogin .nav-link:hover{
    background-color: #F8E4CC;
    color: #F20231;
}

#form{
    background-color: #efbe7fad;
    width: 40%;
    color: black;
}

#form:hover{
    background-color: #efbe7fde;
    transition:all .5s ease-in-out;
}

#signbody{
    background-color: whitesmoke;
    background-image: url(../img/signback.svg);
    
}

#businessForm{
    display: none;
}

/*
-----------Home Page----------
*/

#navhome{
    z-index: 10;
    width: 100%;
}

#navhome .navbar-brand{
    font-weight: 600;
    font-size: 1.5em;
    color: white;  
  
}

#navhome .nav-item .nav-link{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
    color: white;

}

#navhome .bg-light{
    background-color: #12103D!important;
}

#navhome .nav-link:hover{
    background-color: #F8E4CC;
    color: #F20231;
}

#cards li{
    list-style:none;
}

#business{
    color:#F20231;
}

#price{
    color: #F20231;
    font-size: 1.5em;
}






